.field{
    height: 80vh;
    background-color: rgb(2, 220, 2);
    position: relative;
}
.ball{
    height: 100px;
    width: 100px;
    border: 0px;
    border-radius: 50%;
    background-color: rgb(215, 248, 2);
    position: absolute;
    bottom: 0px;
    left: 0px;
    animation: animateX 5s linear infinite normal, animateY 0.5s ease-out infinite alternate-reverse;
}
@keyframes animateY {
    from{
       bottom: 0%;
    }
    to{
        bottom: 50%;
    }
}
@keyframes animateX{
    from{
        left: 0%;
    }
    to{
        left: 100%;
    }
}
